$neutral-n90: #e3e3e3;
$neutral-n100: #ffffff;
$neutral-n110: #63677c;

$blue-b50: #ededf3;
$blue-b60: #e8eeff;
$blue-b80: #8f9ad2;
$blue-b100: #283a97;

$gray-g100: #7c7c7c;
$gray-g90: #b0b0b0;

$dark-d60: #393939;
