.pic {
    width: 78px;
    height: 78px;
}

.block {
    @include flex(center, center, 20px, column);
    background-color: rgba(244, 244, 244, 1);
    width: 250px;
    height: 280px;
    box-shadow: -2px 4px 10px 3px rgba(34, 60, 80, 0.2);
    border-radius: 10px;

    &:hover {
        background-color: rgba(251, 246, 234, 1);
    }
}

.post {
    text-align: center;
    @include font(12px, unset, unset, rgba(109, 110, 118, 1));
}

.fio {
    text-align: center;
    @include font(20px, 700);
}
